@{
    Layout = "_Layout";
}
@model string;

<div class="col-12 d-flex justify-content-center">
    <div>
        <h1>@Model</h1>
    </div>
    <a class="btn btn-primary" href="/">Back to home</a>
</div>