<!-- Header Start -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center my-5 py-5">
        <h1 class="text-white mt-4 mb-4">Du Học cùng DNU</h1>
        <h1 class="text-white display-1 mb-5">Đại Nam University</h1>
        
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Về chúng tôi</h6>
                    <h1 class="display-4">Lựa chọn đầu tiên cho giáo dục hàng đầu Việt Nam</h1>
                </div>
                <p>Trải nghiệm tương lai của giáo dục với chúng tôi. Nền tảng của chúng tôi cung cấp các giải pháp sáng tạo phù hợp với nhu cầu học tập của bạn. Hãy tham gia cùng chúng tôi và bắt tay vào cuộc hành trình tìm hiểu và khám phá. Chúng tôi cam kết trao quyền cho người học trên toàn thế giới thông qua nền giáo dục chất lượng cao, dễ tiếp cận. Hãy tham gia cộng đồng của chúng tôi ngay hôm nay và phát huy hết tiềm năng của bạn!</p>
                <div class="hàng pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">13</h1>
                            <h6 class="text-uppercase text-white">Có sẵn<span class="d-block">Đối tượng</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">145</h1>
                            <h6 class="text-uppercase text-white">Study Abroad<span class="d-block">Courses</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">16</h1>
                            <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">5000+</h1>
                            <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Feature Start -->
<div class="container-fluid bg-image" style="margin: 90px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Tại sao chọn chúng tôi?</h6>
                    <h1 class="display-4">Tại sao bạn nên bắt đầu học với chúng tôi?</h1>
                </div>
                <p class="mb-4 pb-2">Khám phá lý do tại sao nền tảng của chúng tôi là lựa chọn lý tưởng cho hành trình học tập của bạn. Chúng tôi cung cấp một môi trường hỗ trợ để bạn có thể phát triển và vượt trội. Chương trình giảng dạy của chúng tôi được xây dựng cẩn thận để thu hút và truyền cảm hứng cho người học ở mọi cấp độ. Với cam kết của chúng tôi về sự xuất sắc và đổi mới, bạn sẽ tìm thấy vô số cơ hội để tăng trưởng và phát triển. Hãy tham gia cùng chúng tôi ngay hôm nay và trực tiếp trải nghiệm sự khác biệt.</p>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-graduation-cap text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Skilled Instructors</h4>
                        <p>Đội ngũ giảng viên tận tâm của chúng tôi cam kết mang lại thành công cho bạn. Với nhiều năm kinh nghiệm và chuyên môn trong các lĩnh vực tương ứng, họ cung cấp hướng dẫn và hỗ trợ toàn diện để giúp bạn đạt được mục tiêu học tập của mình. Cho dù bạn là người mới bắt đầu hay người học nâng cao, những người hướng dẫn của chúng tôi sẽ truyền cảm hứng và giúp bạn trở nên xuất sắc. Hãy tham gia cùng chúng tôi và học hỏi những điều tốt nhất ngay hôm nay!</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-certificate text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Chứng chỉ quốc tế</h4>
                        <p>Đội ngũ giảng viên tận tâm của chúng tôi cam kết mang lại thành công cho bạn. Với nhiều năm kinh nghiệm và chuyên môn trong các lĩnh vực tương ứng, họ cung cấp hướng dẫn và hỗ trợ toàn diện để giúp bạn đạt được mục tiêu học tập của mình. Cho dù bạn là người mới bắt đầu hay người học nâng cao, những người hướng dẫn của chúng tôi sẽ truyền cảm hứng và giúp bạn trở nên xuất sắc. Hãy tham gia cùng chúng tôi và học hỏi từ những điều tốt nhất ngay hôm nay!</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-book-reader text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>study abroad class</h4>
                        <p class="m-0">cung cấp các khóa du học nước ngoài .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->
<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Our Location</h4>
                            <p class="m-0">Ha Dong, Ha Noi</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-phone-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Call Us</h4>
                            <p class="m-0">0752 133 698</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-envelope text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Email Us</h4>
                            <p class="m-0">dnu@dnu.edu.vn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Need Help?</h6>
                    <h1 class="display-4">Send Us A Message</h1>
                </div>
                <div class="contact-form">
                    <form method="post" asp-action="SendMessage">
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" name="FullName" placeholder="Your Name" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" name="Email" placeholder="Your Email" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" name="Subject" placeholder="Subject" required="required">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" name="NoiDung" placeholder="Message" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->